<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <p class="lead">Would you like something else?</p>
    <a href="/poll"><button class="poll-button btn btn-success btn-lg">New Poll</button></a>
    <a href="/mypolls"><button class="btn btn-info btn-lg">My Polls</button></a>
  </div>
</header>

<div class="container poll">
  <h2>Create New Poll</h2>
  <h4>Pull Question?</h4>
  <input type="text" class="form-control" placeholder="What's your favourite animal?">

  <h4>Pull Options</h4>

  <div ng-repeat="option in options" class="options-div options">
    <input type="text" class="form-control options" placeholder="{{option.placeholder}}">
    <i ng-hide="option.hidden" class="fa fa-minus-circle" ng-click="removeOption($index)"></i>
  </div>

  <div class="label-div">
    <label>* must have at least 2 options</label>
    <button class="add-more btn btn-primary btn-xs" ng-click="addMore()">
      <i class="fa fa-plus-circle"></i> add more
    </button>
  </div>

  <button class="submit-poll btn btn-success btn-lg" ng-click="submit()">Submit</button>

</div>